# ---------- Python / FastAPI backend ----------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.cpython-*

# Virtual envs
venv/
backend/venv/

# Environment & secrets
*.env
backend/.env

# Editor / stray
*.copy

# ---------- React frontend ----------
# Dependencies
frontend/node_modules/

# Build output
frontend/build/

# Environment variables
frontend/.env

# ---------- macOS / Editor files ----------
# macOS Finder
.DS_Store

# VS Code / JetBrains
.vscode/
.idea/

*.copy

frontend/tailwindcss
